.DS_Store

.gradle
local.properties

build/
*.iml
.idea/*.xml
.idea/libraries/
.idea/.name/
.idea/copyright/
.idea/libraries/
.idea/scopes/

*.apk
*.ap_
*.dex
*.class

bin/
gen/
.classpath
.project

proguard/
